.todoList {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  z-index: 10;

  &__list {
    width: 540px;
    min-height: auto;
    z-index: 10;
    border-radius: 5px;
    background: rgba(37, 39, 60, 1);
    ul {
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0;
    }
    &-item {
      color: #cbcde6;
      font-weight: 400;
      font-size: 18px;
      font-family: "Josefin Sans", sans-serif;

      border-bottom: 1px solid #383a4f;
      height: 65px;

      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;

      ul {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;
      }
      &-grop {
        display: flex;
        align-items: center;
      }
      &__title {
        font-size: 18px;
        max-width: 200px;
        font-weight: 400;
      }
      &-selected {
        margin: 0px 25px;
        width: 25px;
        height: 25px;
        border: 1px solid #4b4d62;
        border-radius: 13px;
        transition: all 0.1s linear;
        &:hover {
          border-color: rgba(134, 96, 244, 1);
        }
      }
      &:hover &__close {
        opacity: 1;
      }
      &__close {
        margin-right: 30px;
        opacity: 0;
        transition: all 0.2s linear;
      }
    }
    &-footer {
      padding: 25px 0px;
      color: rgba(203, 205, 230, 0.48);
      h2 {
        font-weight: 400;
        font-size: 18px;
      }
      font-family: "Josefin Sans", sans-serif;
      display: flex;
      justify-content: space-around;
      align-items: center;

      margin: 0 auto;
      &_filter {
        font-weight: 400;
        font-size: 18px;
        display: flex;
        gap: 10px;
      }
    }
  }
  &__addTodo {
    height: 64px;
    width: 540px;

    z-index: 10;
    border-radius: 5px;
    background: rgba(37, 39, 60, 1);

    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__type {
      font-family: "Josefin Sans", sans-serif;
      margin-left: 25px;
      background-color: inherit;
      height: 32px;
      border: 0;
      max-height: 64px;
      font-weight: 400;
      font-size: 18px;
      color: #cbcde6;
      &:focus-visible {
        outline: none;
      }
    }
    &__btn {
      font-family: "Josefin Sans", sans-serif;
      margin-right: 25px;
      width: fit-content;
      padding: 5px;
      border: none;
      border-radius: 13px;
      background-color: #cbcde669;
      transition: background-color 0.2s linear;
      &:hover {
        background-color: #cbcde6;
      }
    }
  }
}

.filter-op {
  cursor: pointer;
}

@media (max-width: 749px) {
  .todoList {
    &__addTodo {
      margin: 30px auto;
      width: 440px;
    }
    &__list {
      margin: 0 auto;
      width: 440px;
      min-height: auto;
      z-index: 10;
      border-radius: 5px;
      background: rgba(37, 39, 60, 1);
    }
  }
}

@media (max-width: 449px) {
  .todoList {
    &__addTodo {
      margin: 15px auto;
      width: 300px;
    }
    &__list {
      margin: 0 auto;
      width: 300px;
      min-height: auto;
    }

    &__list-footer {
      display: block;
      text-align: center;
      &-item {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      &_filter {
        margin-left: 60px;
        gap: 20px;
        margin-bottom: 20px;
      }
      &_filterAll {
        padding-bottom: 20px;
      }
    }
  }
}
