@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");
body {
  margin: 0;
  /* transition: all 0.4s linear; */
}
body[data-theme="light"] {
  margin: 0;
  background-color: #fafafa;
}
body[data-theme="dark"] {
  margin: 0;
  background-color: #181824;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.App {
  max-width: 1440px;
  margin: 0 auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
